body{
    background-color: black;
    font-size: 2em;
    text-shadow: 3px 2px grey;
    color: white;
    margin: 0;
}

#container{
    display: block;
    margin: 0 auto;
    background-color: violet;
    text-align: center;
    width: 800px;
}

input{
    display: block;
    margin: 0 auto;
    width: 250px;
    height: 40px;
    font-size: 1em;
    margin-bottom: 30px;
}

select{
    width: 150px; 
    height: 30px;
    margin-bottom: 30px; 
    font-size: .5em;
}

h1{
    text-align: center;
    color: violet;
    background-color: white;
    text-shadow: 3px 2px grey;
}

button{
    display: block;
    margin: 0 auto;
    width: 200px;
    height: 50px;
    border-radius: 25px;
    background-color: LightGray;
    font-size: 1em;
    text-shadow: 3px 2px grey;
}