body{
    background-color:black;
    color: grey;
}

header, nav, footer,main, #content {
    width: 960px;
    margin: 0 auto; 
    text-align: center; 
}

nav a{
    padding:15px;
    padding-bottom:4px;
    font-size:1.8em;
    text-decoration:none;
    color: white;
}

nav a:hover, #current{
    border-bottom:2px orange solid;
    font-size:2em;
    transition: .9s;
}

section, aside{
    float:left;
} 
#me {
    border-radius: 100px;
}
    

aside{
    text-align: left;
    padding-left: 10px;
    padding-top:  50px;
    width:200px;
    font-size: 1.3em;
}

footer{
    clear:left;
    font-size:.9em;
    text-decoration:none;
    color:grey;
}

table {
    margin: 0px auto;
}

td {
    padding-right: 10px;
    font-size:1.3em;
}
td strong{
    color:orange;
}

#table-header
{
    background-color: #351a00;
}

.table-row{
    background-color: #753900;
    font-size:1em;
    color: white;
    text-align: center;
}

ul{
    text-align:left;
    padding-left: 400px;
}

.hobby{
    color:yellow;
}
#content{
    text-align: center;
}

h1{
    font-family: 'Pacifico', cursive;
    font-size:4em;
    margin-bottom: 0px;
    color:white;
}